@media screen and (min-width: 702px) {
    .banner-profile{
        min-height: 150px;
        padding-inline: 250px;
        position: relative;
    }

    .banner-profile .container-profile-image img {
        width: 100px;
        border: 5px solid;
        border-radius: 50%;
        cursor: pointer;
        transition: border .3s;
        position: absolute;
        bottom: -50px;
    }

    .banner-profile .container-profile-image img:hover {
        border: 5px solid #ddd;
    }

    .container-content {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 270px);
    }
    
    .profile-basic-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .follow-p {
        max-width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

    }
}